
<div class="fileupload-buttonbar">
<%= form_for @sound_clip, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

                <!-- The fileinput-button span is used to style the file input field as button -->
	<div class="form-horizontal">
		<div class="col-md-6">
			 <div class="form-group">
			     <%= f.label :title, class: "control-label col-sm-3" %>
			 	<div class="col-sm-9">
			     	 <%= f.text_field :title, id: "title", class: "form-control" %>
			 	</div>
			 </div>
			 <div class="form-group">
			     <%= f.label :composer, class: "control-label col-sm-3" %>
			 	<div class="col-sm-9">
			     	<%= f.text_field :description, id: "description", class: "form-control" %>
			 	</div>
			 </div>
			 <div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
                	<span class="btn btn-success fileinput-button">
                    	<i class="fa fa-plus"></i>
                    	<span>Add Audio Clip...</span>
                    	<%= f.file_field :attachment %>
                	</span>
				</div>
            </div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div id="upload_errors" class="col-sm-12"></div>
			</div>
		</div>
    	<div class="row">
			<div class="col-xs-12 col-lg-10" style="overflow: scroll">
                <!-- The global progress bar -->
         	   <div class="progress progress-success progress-striped active fade">
				   <div class="bar" style="width:0%;"></div>
         	  </div>
        <!-- The loading indicator is shown during image processing -->
    		  <div class="fileupload-loading"></div>
        <!-- The table listing the files available for upload/download -->
    		  <div class="table-responsive">
			  <table class="table j-query-upload-controls">
				  <tbody class="files"</tbody>
    		  </table></div>
		   </div>
	    </div>
   </div>
<% end %>    
</div>

<script>
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
	    <td class="preview">
			<span>
			<audio controls title="{%=file.name%}" id="clip_preview">	
			</audio>
			</span>
		</td>
        <td class="name"><span>{%=file.name%}</span>
	        {% if (file.error) { %}
	            <div class="error" id="error_span" ><strong><p class="text-danger"> {%=locale.fileupload.errors[file.error] || file.error%}</p></strong></div>
				{% } %}
		</td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span>
        
        {% if (o.files.valid && !i) { %}
            
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
       {% } %}
   			</td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button id= "start" class="btn btn-info" disabled="true" >
                    <i class="fa fa-upload"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            </td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="fa fa-ban"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/html">
  {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
  <tr class="template-download nofade">
    {% if (file.error) { %}
    <td></td>
    <td class="name">{%=file.name%}</td>
    <td class="size">{%=o.formatFileSize(file.size)%}</td>
    <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
    {% } else { %}
    <td class="preview">{% if (file.url) { %}
		<audio controls title="{%=file.name%}">
			<source src="{%=file.url%}">
		</audio>
    {% } %}</td>
    <td class="name">
      <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
    </td>
    <td class="size">{%=o.formatFileSize(file.size)%}</td>
    <td colspan="2"></td>
    {% } %}
    <td class="delete">
    <button class="btn btn-danger danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"><%= t('photos.template.delete') %></button>
    </td>
  </tr>
  {% } %}
</script>

<script type="text/javascript" charset="utf-8">
    $(function () {
        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload({
			done: function (e, data) {
        window.location.href = data.url;},
			maxNumberOfFiles: 1,
        	acceptFileTypes:  /(.|\/)(mpeg|x-mpeg|mp3|x-mp3|mpeg3|x-mpeg3|mpg|x-mpg|x-mpegaudio|wav)$/i,
        });
        // 
        // Load existing files:
      /*  $.getJSON($('#fileupload').prop('action'), function (files) {
          var fu = $('#fileupload').data('blueimpFileupload'), 
            template;
          fu._adjustMaxNumberOfFiles(-files.length);
          template = fu._renderDownload(files)
            .appendTo($('#fileupload .files'));
          // Force reflow:
          fu._reflow = fu._transition && template.length &&
            template[0].offsetWidth;
          template.addClass('in');
          $('#loading').remove();
        });*/

    });
</script>