	<% flash.each do |type, msg| %>
	  <% if msg.is_a?(String) %>
		<div class=" alert <%= devise_msg_to_bs(type) %> alert-dismissible"  role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <%= msg %>
		</div>
	  <% end %>
	<% end %>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 module-login">
			<div class="panel panel-default">
				<div class="panel-heading">
    			  <h4 class="devise"><%= t('.sign_in', :default => "Sign in") %></h4>
  				</div>
				<div class="panel-body">
					
    				<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
						<div class="form-group">
        					<%= f.label :email %>
        					<%= f.email_field :email, autofocus: true, class: "form-control" %>
						</div>
						<div class="form-group">
        					<%= f.label :password %>
        					<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
						</div>
      			  		<% if devise_mapping.rememberable? %>
						<div class="checkbox">
          			  		<label>
            			  	<%= f.check_box :remember_me %>remember me
							</label>
        				</div></br>
						<% end %>
						<div class="row">
							<div class="col-xs-3">
      			  			<%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary" %>
							</div>
							<div class="col-xs-9">
							<%= link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name), class: "pull-right" %>
							</div>
						</div>
    				<% end %>
				</div>
			</div>
		</div>
	</div> <!-- row -->
</div> <!-- container -->
