<div class="col-md-12 black">
<div id="thumbs">
<%= link_to "", image_path('DIvos-&-DIvas-8084.jpg'), :style => "background-image: url('assets/DIvos-&-DIvas-8084.jpg')", :title => "Divos & Divas"%>
<%= link_to "", image_path('DIvos-&-DIvas-7967.jpg'), :style => "background-image: url('assets/DIvos-&-DIvas-7967.jpg')", :title => "Divos & Divas" %>
<%= link_to "", image_path('DIvos-&-DIvas-7990.jpg'), :style => "background-image: url('assets/DIvos-&-DIvas-7990.jpg')", :title => "Divos & Divas" %>
<%= link_to "", image_path('DIvos-&-DIvas-8030.jpg'), :style => "background-image: url('assets/DIvos-&-DIvas-8030.jpg')", :title => "Divos & Divas" %>
<%= link_to "", image_path('DIvos-&-DIvas-8039.jpg'), :style => "background-image: url('assets/DIvos-&-DIvas-8039.jpg')", :title => "La Negra Noche" %>
<%= link_to "", image_path('DIvos-&-DIvas-8068.jpg'), :style => "background-image: url('assets/DIvos-&-DIvas-8068.jpg')", :title => "Be My Love" %>
</div>
</div>